$font-header-color: #565656;
$dark-section-color: #ECF0F1;
$light-blue: #2980b9;
$blue-header-color: #2c3e50;
$paragraph-color: #4e5758;
$overlay-color: rgba(255, 255, 255, .90);
$button-background-color: #F1F1F1;