@font-face {
    font-family: 'allerbold';
    src: url('/fonts/aller-webfont.eot');
    src: url('/fonts/aller-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aller-webfont.woff2') format('woff2'),
         url('/fonts/aller-webfont.woff') format('woff'),
         url('/fonts/aller-webfont.ttf') format('truetype'),
         url('/fonts/aller-webfont.svg#allerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'weblysleek_uilight_italic';
    src: url('/fonts/weblysleekuili-webfont.eot');
    src: url('/fonts/weblysleekuili-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/weblysleekuili-webfont.woff2') format('woff2'),
         url('/fonts/weblysleekuili-webfont.woff') format('woff'),
         url('/fonts/weblysleekuili-webfont.ttf') format('truetype'),
         url('/fonts/weblysleekuili-webfont.svg#weblysleek_uilight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'weblysleek_uisemibold_italic';
    src: url('/fonts/weblysleekuisbi-webfont.eot');
    src: url('/fonts/weblysleekuisbi-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/weblysleekuisbi-webfont.woff2') format('woff2'),
         url('/fonts/weblysleekuisbi-webfont.woff') format('woff'),
         url('/fonts/weblysleekuisbi-webfont.ttf') format('truetype'),
         url('/fonts/weblysleekuisbi-webfont.svg#weblysleek_uisemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'weblysleek_uisemilight_italic';
    src: url('/fonts/weblysleekuisli-webfont.eot');
    src: url('/fonts/weblysleekuisli-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/weblysleekuisli-webfont.woff2') format('woff2'),
         url('/fonts/weblysleekuisli-webfont.woff') format('woff'),
         url('/fonts/weblysleekuisli-webfont.ttf') format('truetype'),
         url('/fonts/weblysleekuisli-webfont.svg#weblysleek_uisemilight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'weblysleek_uisemilight';
    src: url('/fonts/weblysleekuisl-webfont.eot');
    src: url('/fonts/weblysleekuisl-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/weblysleekuisl-webfont.woff2') format('woff2'),
         url('/fonts/weblysleekuisl-webfont.woff') format('woff'),
         url('/fonts/weblysleekuisl-webfont.ttf') format('truetype'),
         url('/fonts/weblysleekuisl-webfont.svg#weblysleek_uisemilight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'weblysleek_uisemibold';
    src: url('/fonts/weblysleekuisb-webfont.eot');
    src: url('/fonts/weblysleekuisb-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/weblysleekuisb-webfont.woff2') format('woff2'),
         url('/fonts/weblysleekuisb-webfont.woff') format('woff'),
         url('/fonts/weblysleekuisb-webfont.ttf') format('truetype'),
         url('/fonts/weblysleekuisb-webfont.svg#weblysleek_uisemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'weblysleek_uilight';
    src: url('/fonts/weblysleekuil-webfont.eot');
    src: url('/fonts/weblysleekuil-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/weblysleekuil-webfont.woff2') format('woff2'),
         url('/fonts/weblysleekuil-webfont.woff') format('woff'),
         url('/fonts/weblysleekuil-webfont.ttf') format('truetype'),
         url('/fonts/weblysleekuil-webfont.svg#weblysleek_uilight') format('svg');
    font-weight: normal;
    font-style: normal;

}