/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (max-width: 1100px) {
	.explanation
	{
	    img
	    {
	        float: none;
	    }

	    .description
	    {
	        float: none;
	        padding-bottom: 100px;
			margin: auto;
	    }

	    h1
	    {
	    	padding-top: 0px;
	    }
	}
}

@media screen and (max-width: 975px) {
	.section.demo
	{
		ul
		{
			.slide
			{
				.card
				{
					.overlay
					{
						.center
						{
							.description
							{
								margin-left: 130px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 830px) {
	.section.demo
	{
		min-height: 1085px;

		ul
		{
			min-height: 835px;
			
			.slide
			{
				.card
				{
					.overlay
					{
						min-height: 835px;

						.center
						{
							.description
							{
								float: none;
								margin: auto;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 815px) {
	.navigation
	{
		.inner
		{
			.full-logo
			{
				display: none;
			}

			.page-links
			{
				float: none;
				text-align: center;
			}
		}
	}	

	.person
	{
		.avatar
		{
			float: none;
			width: 100%;
		}

		.bio
		{
			h3
			{
				text-align: center;
			}
		}
	}

	.header.home
	{
		.inner
		{
			.logo-content
			{
				height: 100%;

				img
				{
					float: none;
					width: 125px;
				}

				.logo-text
				{
					font-size: 68px;
				}
			}
		}

	}
}

@media screen and (max-width: 700px) {
	.section.analytics .macbook
	{
		height: 400px;
	}
}

@media screen and (max-width: 670px) {
	.separator
	{
		min-height: 345px;
	}
}

@media screen and (max-width: 500px) {
	.section.analytics
	{
		min-height: 800px;

		.macbook
		{
			height: 280px;
		}
	}
}

@media screen and (max-width: 460px) {
	#hero-bar
	{
		display: none;
	}

	.section.demo
	{
		min-height: 1200px;

		ul
		{
			min-height: 870px;
			
			.slide
			{
				.card
				{
					.overlay
					{
						min-height: 875px;

						.center
						{
							.description
							{
								float: none;
								margin: auto;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.separator
	{
		min-height: 525px;
	}
}

@media screen and (max-width: 390px) {
	.section.analytics .macbook
	{
		height: 210px;
	}
}

@media screen and (max-width: 330px) {
	.section.analytics
	{
		height: 850px;
	}
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}