@import 'base';
@import 'animations';

#hero-bar
{
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.section-header
{
    font-family: 'weblysleek_uilight';
    text-align: center;
    color: $blue-header-color;
    font-size: 50px;
    font-weight: 100;
    padding: 50px 0px;
}

.button
{
    font-family: weblysleek_uisemilight;
    font-weight: 600;
    font-size: 18px;
    background-color: $button-background-color;
    color: $font-header-color;
    width: 200px;
    border-radius: 7px;
    padding: 7px 0px;
    margin: 50px auto;
    cursor: pointer;
    width: 175px;
}

.button:hover
{
    color: white;
    background-color: $light-blue;
}

.overlay
{
    width: 100%;
    height: 100%;
    background-color: $overlay-color;
}

.header
{
    width: 100%;
    min-height: 500px;
    // background-image: url('/img/header-bg.jpg');
    // background-position: center;
    //background-size: cover;
    color: white;
    z-index: 100;

    .overlay
    {
        background-color: rgba(255, 255, 255, .80);
    }

    .inner
    {
        .logo-text
        {
            color: $font-header-color;
            font-family: allerbold;
            font-size: 90px;
            line-height: 65px;
        }

        .logo-content
        {
            max-width: 395px;
            height: 65px;
            margin: auto;

            .logo
            {
                width: 95px;
                float: left;
            }
        }


        .button
        {
            margin-top: 35px;
        }

        h3
        {
            margin: 60px auto auto auto;
            color: $font-header-color;
            font-family: weblysleek_uilight;
            font-weight: 100;
            font-size: 40px;
            max-width: 1000px;
            padding: 5px;
        }
    }
}

.header.sub
{
    height: 300px;

    .inner
    {
        padding-top: 100px;
        
        img
        {
            width: 200px;
            height: 200px;
            margin: auto;
            margin-top: 15px;
        }
    }
}

.header.home
{
    .inner
    {
        padding-top: 100px;
    }
}

.navigation
{
    height: 70px;
    border-bottom: 1px solid #ecf0f1;
    z-index: 1000;

    .full-logo
    {
        $nav-bar-width: 200px;
        display: none;
        float: left;
        background-image: url('/img/full-logo.png');
        background-repeat: no-repeat;
        background-size: $nav-bar-width auto;
        width: $nav-bar-width;
        height: 100%;
        background-position: 0px 9px;
    }

    .page-links
    {
        padding: 0px;
        margin: 0px;
        float: right;
        font-size: 19px;
        font-family: 'weblysleek_uisemilight';
        font-weight: 600;
        margin-top: 12px;

        li
        {
            display: inline-block;
            padding: 10px;
            cursor: pointer;
            
            a
            {
                color: #2c3e50;
                text-decoration: none;
            }
        }

        li:hover
        {
            a
            {
                $hover-color: #3498db;
                color: $hover-color;
                border-bottom:1px dotted $hover-color;
            }
        }
    }
}

.navigation.fixed
{
    //box-shadow: 0px 2px 33px rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    margin-top: 0px;
}

.section
{
    background-color: $dark-section-color;

    h1
    {
        font-family: 'weblysleek_uilight';
        text-align: center;
        color: $blue-header-color;
        font-size: 50px;
        font-weight: 100;
        padding-top: 100px;
    }

    p
    {
        text-align: center;
        font-size: 18px;
        font-family: 'weblysleek_uilight';
        font-weight: 600;
        line-height: 1.8;
        color: $paragraph-color;
        width: 80%;
        margin: 20px auto 20px auto;
    }
}

.section.demo
{
    min-height: 500px;

    .marvel-device
    {
        width: 230px;
        height: 408px;
        margin: 30px;
        margin-bottom: 100px;
    }

    .marvel-device.landscape
    {
        width: 408px;
        height: 230px;
    }

    .screen
    {
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: white;
    }

}

.section.analytics
{
    min-height: 980px;
    background-color: white;

    .content
    {
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .overlay
    {
        z-index: 100;
        position: relative;
    }

    .macbook
    {
        background-image: url('/img/macbook.png');
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 1000px;
        height: 588px;
        margin: auto;
        margin: 50px auto 100px auto;
    }
}

.separator
{
    background-color: $light-blue;
    min-height: 200px;

    h1
    {
        color: white;
        padding-top: 15px;
        font-size: 50px;
        font-weight: 100;
        font-family: 'weblysleek_uilight';
    }

    .icons
    {
        list-style: none;
        padding: 0;
        margin-bottom: 40px;

        li
        {
            display: inline-block;
            color: white;
            font-size: 80px;
            line-height: 1;
            padding: 10px 75px;
        }
    }
}

.section.products
{
    min-height: 500px;
    background-color: white;
    background-image: url('/img/logo.svg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .overlay
    {
        background-color: rgba(255,255,255,.7);
    }

    .product-list
    {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    
    .product
    {
        display: inline-block;
        padding: 0px 40px;
        
        img
        {
            width: 100px;
            margin-top: 20px;
        }

        p
        {
            width: 250px;
        }
    }
}

.section.early-access
{
    min-height: 500px;
    background-color: white;

    .email-form
    {
        margin-top: 70px;
        margin-right: 5px;
            margin-left: 5px;

        input
        {
            font-family: 'weblysleek_uisemibold';
            max-width: 400px;
            width: 100%;
            text-indent: 10px;
            height: 50px;
            font-size: 18px;
            border: none;
            display: block;
            margin: auto;
            outline: 0;
            border: 1px solid $light-blue;
        }

        input:focus
        {
            outline: 0;
        }

        button
        {
            font-family: 'weblysleek_uisemibold';
            display: block;
            width: 100%;
            max-width: 400px;
            margin: auto;
            margin-top: 15px;
            background-color: $light-blue;
            outline: 0;
            border: 0;
            color: white;
            padding: 10px;
        }

        button:hover
        {
            background-color: $blue-header-color;
        }
    }
}

.person
{
    padding: 50px;
    min-height: 300px;
    border-bottom: 1px solid #BABBBB;

    .avatar
    {
        text-align: center;
        float: left;
        width: 350px;

        img
        {
            width: 250px;
        }

        p
        {
            font-weight: 600;
            font-size: 19px;
        }
    }

    .bio
    {
        font-family: weblysleek_uisemilight;
        font-weight: 600;
        margin-top: 45px;

        p
        {
            color: $font-header-color;
            margin-top: 30px;
        }

        h3
        {
            font-size: 30px;
            color: $blue-header-color;
        }
    }
}

footer
{
    background: $blue-header-color;
    padding: 30px;
    color: white;
    font-size: 14px;
    font-family: 'weblysleek_uisemibold';

    .right
    {
        float: right;
        
        ul
        {
            margin-bottom: 10px;;
            padding: 0;

            li
            {
                display: inline-block;
            }
        }
    }
}

.chat
{
  font: 100%/1.5em "weblysleek_uilight", sans-serif;
}


#live-chat 
{
    font-size: 12px;
    width: 100%;

    fieldset 
    {
        padding: 24px;
    }

    header 
    {
        background: #293239;
        color: #fff;
        padding: 16px 24px;
    }

    h4:before 
    {
        background: #1a8a34;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 8px;
        margin: 0 8px 0 0;
        width: 8px;
    }

    h4 
    {
        font-weight: 100;
        font-size: 14px;
        color: white;
    }

    h5 
    {
        font-weight: bold;
        font-size: 10px;
    }
}



.chat-message-counter 
{
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}

.chat-close 
{
    background: #1b2126;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
}

.chat 
{
    background: #fff;
}

.chat-history 
{
    padding: 8px 24px;
    overflow-y: hidden;
}

.chat-message 
{
    margin: 0;
    margin-top: 20px;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

.chat-message img 
{
    border-radius: 50%;
    float: left;
}

.chat-message-content 
{
    h5
    {
        color: $paragraph-color;
        font-family: 'weblysleek_uisemibold';
    }
}

.chat-time 
{
    float: right;
    font-size: 10px;
}

.chat-feedback 
{
    font-style: italic;
    text-align: center;
}

.chat-feedback img
{
    width: 45px;
    display: inline-block;
}

@import 'media';